{% extends 'index.html'%}

{% block navOptions %}
<ul class="sidebar-nav">
    <li class="sidebar-item active">
        <a class="sidebar-link" href="{{url_for('homeModule.toHomePage')}}">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Home</span>
        </a>
    </li>
    <li class="sidebar-item  ">
        <a class="sidebar-link" href="{{url_for('userModule.toUsersPage')}}">
            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Utilzadores</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{url_for('rideModule.toRidePage')}}">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Boleias</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{url_for('reservaModule.toReservaPage')}}">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Reservas</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a class="sidebar-link" href="{{url_for('vehicleModule.toVehiclesPage')}}">
            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Veiculos</span>
        </a>
    </li>
</ul>
{% endblock navOptions %}

{% block page %}
<h3 class="position-absolute m-2 fw-bold ">Home</h3>
{% endblock page %}


{% block profile %}
<img src="{{url_for('static', filename='img/avatars/avatar.jpg')}}" class="avatar img-fluid rounded me-1"/> <span class="text-dark">{{activeUser.name}}</span>
{% endblock profile %}
						

{% block content %}


<div class="container-fluid p-0">
    <div class="row">
        <div class="col-xl-6 col-xxl-5 d-flex">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Utilizadores Totais</h5>
                                    </div>
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="fa fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-5 mb-3">{{allUsersCount}}</h1>
                                <div class="mb-0">
                                    <span class="text-muted">Desde o Lançamento</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Reservas Totais</h5>
                                    </div>
        
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="fa fa-calendar-alt"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-5 mb-3">{{allRidesCount}}</h1> 
                                <div class="mb-0">
                                    <span class="text-muted">Desde o Lançamento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Boleias Totais</h5>
                                    </div>
        
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="fa fa-car-burst"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-5 mb-3">{{allReservationsCount}}</h1>
                                <div class="mb-0">
                                    <span class="text-muted">Desde o Lançamento</span>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Veiculos Totais</h5>
                                    </div>
        
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="fa fa-car"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-5 mb-3">{{allVehiclesCount}}</h1>
                                <div class="mb-0">
                                    <span class="text-muted">Desde o Lançamento</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-xxl-7">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Boleias pelo Ano</h5>
                </div>
                <div class="card-body pt-1 pb-3">
                    <div class="w-75">
                        <canvas id="chartBoleiaAno"  ></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <div class="row">
        <div class="col-12 col-md-6 col-xxl-5 d-flex order-1 order-xxl-1">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Top 3 Veiculos Mais Usados</h5>
                </div>
                <div class="card-body pt-2 pb-3">
                    <div>
                        <canvas id="chartVeiculosMaisUsados"  ></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
            <div class="card flex-fill w-100">
                <div class="card-header align-items-center">
                    <h5 class="card-title mb-0">Comparação de Generos</h5>
                </div>
                <div class="card-body pt-2 pb-3" >
                    <div>
                        <canvas id="charGenders" class=""></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-3 order-xxl-3">
            <div class="card flex-fill w-100">
                <div class="card-header align-items-center">
                    <h5 class="card-title mb-0">Status de Reservas</h5>
                </div>
                <div class="card-body pt-2 pb-3 w-100">
                    <div>
                        <canvas id="charStatusReservas" class=""></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type=text/javascript>
    const ctx = document.getElementById('chartBoleiaAno');
    const ctxVeiculos = document.getElementById('chartVeiculosMaisUsados');
    const ctxGender = document.getElementById('charGenders');
    const ctxStatusReservas = document.getElementById('charStatusReservas');

    dadosGrafico = {{ graf_dataBoleias | tojson }};
    dadosGraficoVeiclo = {{ graf_topVehicles  | tojson }};
    dadosGraficoGenders = {{ graf_genders  | tojson }};
    dadosGraficoReservas = {{ graf_reservationStatus  | tojson }};

    new Chart(ctx, {
        type: 'bar',
        options: {
            responsive: true
        },
        data: {
            labels: [dadosGrafico[0][0], dadosGrafico[1][0],dadosGrafico[2][0],dadosGrafico[3][0],dadosGrafico[4][0], 
                dadosGrafico[5][0],dadosGrafico[6][0], dadosGrafico[7][0],dadosGrafico[8][0],dadosGrafico[9][0],
                dadosGrafico[10][0], dadosGrafico[11][0]],
            datasets: [{
                label: '# of Votes',
                data: [dadosGrafico[0][1], dadosGrafico[1][1],dadosGrafico[2][1],dadosGrafico[3][1],dadosGrafico[4][1], 
                dadosGrafico[5][1],dadosGrafico[6][1], dadosGrafico[7][1],dadosGrafico[8][1],dadosGrafico[9][1],
                dadosGrafico[10][1], dadosGrafico[11][1],],
                backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(25, 152, 192, 0.2)',
                'rgba(75, 19, 92, 0.2)',
                'rgba(154, 12, 245, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
                ],
                borderWidth: 0
            }]
        },
    });

    new Chart(ctxVeiculos, {
        type: 'bar', 
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            plugins: {
            legend: {
                position: 'right',
            }}
        },
        data: {
            labels: [dadosGraficoVeiclo[0][0], dadosGraficoVeiclo[1][0],dadosGraficoVeiclo[2][0]],
            datasets: [{
                label: '# of Votes',
                data: [dadosGraficoVeiclo[0][1], dadosGraficoVeiclo[1][1],dadosGraficoVeiclo[2][1]],
                backgroundColor: [
                'rgba(255, 205, 86, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)'
                ],
                borderWidth: 0
            }]
        },
    });    

    new Chart(ctxGender, {
        type: 'pie', 
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            plugins: {
            legend: {
                position: 'right',
            }}
        },
        data: {
            labels: [dadosGraficoGenders[0][0], dadosGraficoGenders[1][0]],
            datasets: [{
                label: '# of Votes',
                data: [dadosGraficoGenders[0][1], dadosGraficoGenders[1][1]],
                backgroundColor: [
                'rgba(255, 159, 64, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(54, 162, 235, 0.2)'
                ],
                borderWidth: 0
            }]
        },
    });    

    new Chart(ctxStatusReservas, {
        type: 'pie', 
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            plugins: {
            legend: {
                position: 'right',
            }}
        },
        data: {
            labels: [dadosGraficoReservas[0][0], dadosGraficoReservas[1][0],dadosGraficoReservas[2][0]],
            datasets: [{
                label: '# of Votes',
                data: [dadosGraficoReservas[0][1], dadosGraficoReservas[1][1],dadosGraficoReservas[2][1]],
                backgroundColor: [
                'rgba(75, 19, 92, 0.2)',
                'rgba(154, 12, 245, 0.2)',
                'rgba(54, 162, 235, 0.2)'
                ],
                borderWidth: 0
            }]
        },
    });    
</script>

{% endblock scripts %}