{% extends 'indexAute.html'%}

{% block header %}
    <div class="row pt-2">
        <div class="col-2 my-2">
            <a style="cursor:pointer" > <!--onclick=" verPerfilPage()"-->
                <button class="fa fa-2xl fa-arrow-rotate-back text-secondary" type="submit" name="goBack" value="EcraPrevio" style=" background-color: transparent; border: none;"></button> 
            </a>              
        </div>
        <div class="col-8 pt-5"> 
            <div class="justify-content-center ">
                <h2 class="fw-bold text-white">Editar Perfil</h2>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock header %}


{% block formulary %}
                
    <div class="row pt-4 mt-4">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
            Alterar Nome
            <div class="input-group my-1 needs-validation py-2" id="groupNameNumb">
                <span class="input-group-text bg-primary" id="basic-addon1">                    
                    <i class="fa fa-user text-white"></i>
                </span>
                <input type="text" class="form-control" id="username" placeholder="Nikola Tesla" maxlength="50" required="">
                <div class="invalid-feedback"></div>
            </div>
    
        </fieldset>
        <div class="col-1"></div>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
        Password
        <div class="input-group my-1 needs-validation py-2" id="groupPass">
            <span class="input-group-text bg-primary" id="basic-addon1">                    
                <i class="fa fa-key text-white"></i>
            </span>
            <input type="password" class="form-control" id="userPassword" maxlength="30" placeholder="Bobin@D3Te5L@" required=""> 
            <div class="invalid-feedback">
                Por Favor insira Password
            </div>
        </div>
    </fieldset >
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
            Confirmar Password
            <div class="input-group my-1 needs-validation py-2" id="groupPass">
                <span class="input-group-text bg-primary" id="basic-addon1">                    
                    <i class="fa fa-key text-white"></i>
                </span>
                <input type="password" class="form-control" id="userPassword" maxlength="30" placeholder="Bobin@D3Te5L@" required=""> 
                <div class="invalid-feedback">
                    Por Favor insira Password
                </div>
            </div>
        </fieldset >
        <div class="col-1"></div>
    </div>
    

    <div class="row">
        <div class="col-2"></div>
        <div class="container col-8">
            <div class="row"> 
                {{formFront.edit(class="btn btn-primary col-10 my-2", id="LogBtn")}}
            </div>
        </div>
        <div class="col-2"></div>
    </div>


    <div class="container py-4">
        
    </div>
            
{% endblock formulary %}