{% extends 'indexAute.html'%}

{% block header %}
    <div class="row pt-2">
        <div class="col-2 my-2">
            <a style="cursor:pointer" > <!--onclick=" verPerfilPage()"-->
                <button class="fa fa-2xl fa-arrow-rotate-back text-secondary" type="submit" name="goBack" value="EcraPrevio" style=" background-color: transparent; border: none;"></button> 
            </a>              
        </div>
        <div class="col-8 pt-5"> 
            <div class="justify-content-center ">
                <h2 class="fw-bold text-white">Editar Perfil</h2>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock header %}


{% block formulary %}
                
    <div class="row pt-4 mt-4">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
            <div class="from-group">
                {{formFront.username_cliente.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupNameNumb">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-user text-white"></i>
                    </span>
                    {% if formFront.username_cliente.errors %}
                        {{formFront.username_cliente(class="form-control is-invalid", id="username", placeholder="ex: Nikola Tesla")}}
                        {% else %}
                        {{formFront.username_cliente(class="form-control", id="username",  placeholder="ex: Nikola Tesla")}}
                    {% endif %}
                </div>
                {% if formFront.username_cliente.errors %}
                {% for error in formFront.username_cliente.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset> 

        <div class="col-1"></div>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
            <div class="from-group">
                {{formFront.password_cliente.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupPass">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-key text-white"></i>
                    </span>
                    {% if formFront.password_cliente.errors %}
                        {{formFront.password_cliente(class="form-control is-invalid", id="userPassword", placeholder="ex: effwegg45y5@")}}
                        {% else %}
                        {{formFront.password_cliente(class="form-control", id="userPassword",  placeholder="ex: effwegg45y5@")}}
                    {% endif %}
                </div>
                {% if formFront.password_cliente.errors %}
                {% for error in formFront.password_cliente.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset> 
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-3 col-10">
            <div class="from-group">
                {{formFront.confirm_password.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupPassConf">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-key text-white"></i>
                    </span>
                    {% if formFront.confirm_password.errors %}
                        {{formFront.confirm_password(class="form-control is-invalid", id="userPasswordConfirm", placeholder="ex: effwegg45y5@")}}
                        {% else %}
                        {{formFront.confirm_password(class="form-control", id="userPasswordConfirm",  placeholder="ex: effwegg45y5@")}}
                    {% endif %}
                </div>
                {% if formFront.confirm_password.errors %}
                {% for error in formFront.confirm_password.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset>
        <div class="col-1"></div>
    </div>
    

    <div class="row">
        <div class="col-2"></div>
        <div class="container col-8">
            <div class="row"> 
                {{formFront.edit(class="btn btn-primary col-10 my-2", id="LogBtn")}}
            </div>
        </div>
        <div class="col-2"></div>
    </div>


    <div class="container py-4">
        
    </div>
            
{% endblock formulary %}