{% extends 'indexAuteFunc.html'%}
{% block formulary %}
    <div class="text-center pt-4">
        <h2 class="">Editar Dados Funcionário</h2>
    </div>
    <form action="/editEmployee" method="POST" novalidate>
        {{formFront.hidden_tag()}}
        <div class="row">
            <div class="col-1"></div>
            <fieldset class="py-2 col-10">
                <div class="from-group">
                    {{formFront.oldPassword_funcionario.label(class="form-control-label")}}
                    <div class="input-group my-1 py-2" id="groupPass">
                        <span class="input-group-text bg-primary" id="basic-addon1">                    
                            <i class="fa fa-key text-white"></i>
                        </span>
                        {% if formFront.oldPassword_funcionario.errors %}
                            {{formFront.oldPassword_funcionario(class="form-control is-invalid", id="userPassword", placeholder="ex: effwegg45y5@")}}
                            {% else %}
                            {{formFront.oldPassword_funcionario(class="form-control", id="userPassword",  placeholder="ex: effwegg45y5@")}}
                        {% endif %}
                    </div>
                    {% if formFront.oldPassword_funcionario.errors %}
                    {% for error in formFront.oldPassword_funcionario.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </fieldset> 
        </div>
        

        <div class="row">
            <div class="col-1"></div>
            <fieldset class="py-2 col-10">
                <div class="from-group">
                    {{formFront.password_funcionario.label(class="form-control-label")}}
                    <div class="input-group my-1 py-2" id="groupPass">
                        <span class="input-group-text bg-primary" id="basic-addon1">                    
                            <i class="fa fa-key text-white"></i>
                        </span>
                        {% if formFront.password_funcionario.errors %}
                            {{formFront.password_funcionario(class="form-control is-invalid", id="userPassword", value="", placeholder="ex: effwegg45y5@")}}
                            {% else %}
                            {{formFront.password_funcionario(class="form-control", id="userPassword", value="",  placeholder="ex: effwegg45y5@")}}
                        {% endif %}
                    </div>
                    {% if formFront.password_funcionario.errors %}
                    {% for error in formFront.password_funcionario.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </fieldset> 
        </div>

        <div class="row">
            <div class="col-1"></div>
            <fieldset class="py-2 col-10">
                <div class="from-group">
                    {{formFront.confirm_password.label(class="form-control-label")}}
                    <div class="input-group my-1 py-2" id="groupPassConf">
                        <span class="input-group-text bg-primary" id="basic-addon1">                    
                            <i class="fa fa-key text-white"></i>
                        </span>
                        {% if formFront.confirm_password.errors %}
                            {{formFront.confirm_password(class="form-control is-invalid", id="userPasswordConfirm", value="", placeholder="ex: effwegg45y5@")}}
                            {% else %}
                            {{formFront.confirm_password(class="form-control", id="userPasswordConfirm", value="",  placeholder="ex: effwegg45y5@")}}
                        {% endif %}
                    </div>
                    {% if formFront.confirm_password.errors %}
                    {% for error in formFront.confirm_password.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <fieldset class="py-2 col-5">
                <div class="from-group">
                    {{formFront.store.label(class="form-control-label")}}
                    <div class="input-group my-1 py-2">
                        <span class="input-group-text bg-primary" id="groupStore">                    
                            <i class="fa fa-store text-white"></i>
                        </span>
                        {% if formFront.store.errors %}
                            {{formFront.store(class="form-select is-invalid", id="selectloja", onchange="changedSelect()")}}
                            {% else %}
                            {{formFront.store(class="form-select", id="selectloja", onchange="changedSelect()")}}
                        {% endif %}   
                    </div>
                    {% if formFront.store.errors %}
                        {% for error in formFront.store.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="py-2 col-5">
                <div class="from-group">
                    {{formFront.department.label(class="form-control-label")}}
                    <div class="input-group my-1 py-2">
                        <span class="input-group-text bg-primary" id="groupStore">                    
                            <i class="fa fa-boxes-stacked text-white"></i>
                        </span>
                        {% if formFront.department.errors %}
                            {{formFront.department(class="form-select is-invalid", id="selectdepartment", onchange="changedSelect()")}}
                            {% else %}
                            {{formFront.department(class="form-select", id="selectdepartment", onchange="changedSelect()")}}
                        {% endif %}   
                    </div>
                    {% if formFront.department.errors %}
                        {% for error in formFront.department.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                    {% endif %}
                </div>
                
            </fieldset >
        </div>

        <div class="row pt-2 pb-4">
            <div class="col-2"></div>
            <div class="container col-8">
                <div class="row"> 
                    {{ formFront.alter(class="btn btn-secondary my-2", id="confirmBtn") }}
                    <a href="{{ url_for('MapsModule.seeMapList') }}" class="btn btn-outline-secondary my-2" id="discardBtn">Descartar</a>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </form> 
{% endblock formulary %}
{% block scripts %}
    <script type=text/javascript>
        var store = document.getElementById("selectloja");
        var department = document.getElementById("selectdepartment");

        $( document ).ready(
            store[0].setAttribute("disabled","selected"),
            department[0].setAttribute("disabled","selected"),

            store[{{active_user.loja_id}}].setAttribute("selected", true),
            department[{{active_user.secção_id}}].setAttribute("selected", true)               
        );
    </script> 
{% endblock scripts %}