{% extends 'indexClient.html'%}

{% block header %}
    <div class="row pt-2 my-2 align-items-center">
        <div class="col-2">    
            <a class="mx-3" id="seta"  style="cursor:pointer" href="{{url_for('StoreClientModule.seeStoreMap')}}"> 
                <div class="fa fa-2xl fa-arrow-rotate-back text-primary" ></div> 
            </a>  
        </div>
        <div class="col-8"> 
            <div class="mx-2 d-flex justify-content-center ">
                <h2 class="fw-bold text-white">Editar Perfil</h2>
            </div>
        </div>
    </div>
{% endblock header %}


{% block formulary %}
    <div class="container bg-light rounded-5 shadow-lg col-11 col-md-9 col-lg-8 col-xl-6">
        <form class=" w-100 col-6" method="POST" action="" novalidate>
            {{formFront.hidden_tag()}} 

            <div class="row pt-4 mt-4">
                <div class="col-1"></div>
                <fieldset class="py-3 col-10">
                    <div class="from-group">
                        {{formFront.username_cliente.label(class="form-control-label")}}
                        <div class="input-group my-1 py-2" id="groupNameNumb">
                            <span class="input-group-text bg-primary" id="basic-addon1">                    
                                <i class="fa fa-user text-white"></i>
                            </span>
                            {% if formFront.username_cliente.errors %}
                                {{formFront.username_cliente(class="form-control is-invalid", id="username", placeholder=username)}}
                                {% else %}
                                {{formFront.username_cliente(class="form-control", id="username", placeholder=username)}}
                            {% endif %}
                        </div>
                        {% if formFront.username_cliente.errors %}
                        {% for error in formFront.username_cliente.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </fieldset> 

                <div class="col-1"></div>
            </div>

            <div class="row">
                <div class="col-1"></div>
                <fieldset class="py-3 col-10">
                    <div class="from-group">
                        {{formFront.oldPassword_cliente.label(class="form-control-label")}}
                        <div class="input-group my-1 py-2" id="groupPass">
                            <span class="input-group-text bg-primary" id="basic-addon1">                    
                                <i class="fa fa-key text-white"></i>
                            </span>
                            {% if formFront.oldPassword_cliente.errors %}
                                {{formFront.oldPassword_cliente(class="form-control is-invalid", id="userPassword", placeholder="ex: ffwgg5y@", type="password")}}
                                {% else %}
                                {{formFront.oldPassword_cliente(class="form-control", id="userPassword",  placeholder="ex: ffwgg5y@", type="password")}}
                            {% endif %}
                        </div>
                        {% if formFront.oldPassword_cliente.errors %}
                        {% for error in formFront.oldPassword_cliente.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </fieldset> 
            </div>


            <div class="row">
                <div class="col-1"></div>
                <fieldset class="py-3 col-10">
                    <div class="from-group">
                        {{formFront.password_cliente.label(class="form-control-label")}}
                        <div class="input-group my-1 py-2" id="groupPass">
                            <span class="input-group-text bg-primary" id="basic-addon1">                    
                                <i class="fa fa-key text-white"></i>
                            </span>
                            {% if formFront.password_cliente.errors %}
                                {{formFront.password_cliente(class="form-control is-invalid", id="userPassword", placeholder="ex: effwegg45y5@")}}
                                {% else %}
                                {{formFront.password_cliente(class="form-control", id="userPassword",  placeholder="ex: effwegg45y5@")}}
                            {% endif %}
                        </div>
                        {% if formFront.password_cliente.errors %}
                        {% for error in formFront.password_cliente.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </fieldset> 
            </div>

            <div class="row">
                <div class="col-1"></div>
                <fieldset class="py-3 col-10">
                    <div class="from-group">
                        {{formFront.confirm_password.label(class="form-control-label")}}
                        <div class="input-group my-1 py-2" id="groupPassConf">
                            <span class="input-group-text bg-primary" id="basic-addon1">                    
                                <i class="fa fa-key text-white"></i>
                            </span>
                            {% if formFront.confirm_password.errors %}
                                {{formFront.confirm_password(class="form-control is-invalid", id="userPasswordConfirm", placeholder="ex: effwegg45y5@")}}
                                {% else %}
                                {{formFront.confirm_password(class="form-control", id="userPasswordConfirm",  placeholder="ex: effwegg45y5@")}}
                            {% endif %}
                        </div>
                        {% if formFront.confirm_password.errors %}
                        {% for error in formFront.confirm_password.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="col-1"></div>
            </div>
            

            <div class="row pb-4">
                <div class="text-center"> 
                    {{formFront.edit(class="btn btn-primary my-2", id="LogBtn")}}
                </div>
            </div>

        </form>
    </div>
{% endblock formulary %}