{% extends 'indexClient.html'%}


{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock styles %}

{% block header %}
    <div class="row align-items-center">
        <div class="col-2">   
            
            <a class="col-2 mx-3" id="seta"  style="cursor:pointer" href="{{url_for('StoreClientModule.seeStoreMap')}}"> 
                <div class="fa fa-2xl fa-arrow-rotate-back text-primary" ></div> 
            </a>   
        </div>
        <div class="col-8"> 
            <div class="m-2 d-flex justify-content-center ">
                <h2 class="my-1 fw-bold text-white">Expositor</h2>
            </div>
            <div class="m-2 d-flex justify-content-center ">
                <h2 class="my-1 fw-bold text-white">{{department.nome}}</h2>
            </div>
        </div>
    </div>
{% endblock header %}

{% block formulary %}
    <div class="container h-75 mt-4 col-11 border border-0 overflow-scroll" >
        <form method="POST" action="" novalidate>    
            <div class="row " >
                {% for product in products %}
                    <div class="col-6 col-md-4 pt-2">
                        <div class="card align-items-center">
                            <img class="card-img-top w-50" src={{product[0].photoPath}} data-holder-rendered="true">
                            <div class="card-body">
                                <h2 class="text-center" style="height: 90px;">{{product[0].nome}}</h2>
                                <h3 class="text-center">{{product[0].preço}}€/{{product[1].unMedida}}</h3>
                                <div class="row pt-2">
                                    <div class="col-6  mt-2 g-0">
                                        <div class="text-center favorito" id="{{product[0].id}}" style="cursor:pointer">
                                            {% if preferedProducts %}
                                                {% for prefered in preferedProducts %}
                                                    {% if product[0].id == prefered.produto_id %}
                                                        <i class="fa fa-2xl fa-solid fa-heart text-secondary"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %} 
                                                <i class="fa fa-2xl fa-regular fa-heart text-secondary"></i>
                                            {% endif %}
                                           
                                            <h7>Favorito</h7>
                                        </div>
                                    </div>
                                    <div class="col-1 mt-2 g-0"></div>
                                    <div class="col-5 mt-2 g-0">
                                        <div class="text-center detalhes" id="{{product[0].id}}" value="{{product[0].nome}}" style="cursor:pointer">
                                            <i class="fa fa-2xl fa-circle-info text-secondary"></i>
                                            <h7>Detalhe</h7>
                                        </div>
                                    </div>
                                </div>            
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            <div hidden>
                {{formFront.productID(id="productID")}}
            </div>
            <div hidden>
                {{formFront.seeDetails(id="seeDetails")}}
            </div>
            <div hidden>
                {{formFront.enjoyProduct(id="enjoyProduct")}}
            </div>
        </form> 

        <div class="modal modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center" id="detailsModalTitle"></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-3" id="modalBody"> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock formulary %}


{% block scripts %}
<script type=text/javascript>
    
    var productID = document.getElementById("productID");
    var seeDetails = document.getElementById("seeDetails");

    $(".detalhes").click(function(e) {
        e.preventDefault();
        var id = $(this).attr("id");
    
        $.ajax({
            url: '/fetchProduct',
            type: 'GET',
            data: {
                idProduto: id
            },
            success: function(response) {
                
                const myModal = new bootstrap.Modal(document.getElementById('detailsModal'));
                const myModalTitle = new bootstrap.Modal(document.getElementById('detailsModalTitle'));
                const myModalBody = new bootstrap.Modal(document.getElementById('modalBody'));

                myModalTitle._element.innerText = response[0][0];

                myModal.toggle();
                myModal.show();
                
                priceBase = parseFloat(response[0][1]) / (1 + (response[3]/100))
                priceBaseRounded = Math.round(priceBase * 100) / 100
                myModalBody._element.innerHTML = `
                    <div>
                        <h5>Origem: ${response[2]}<\h5>
                        <h5>Iva do produto: ${response[3]}%<\h5>
                        <h5>Preço sem Iva: ${priceBaseRounded}€/${response[1]}<\h5>
                        <h5>Preço com Iva: ${response[0][1]}€/${response[1]}<\h5>
                    <\div>
                `;
                
                if(response.length > 4){
                    myModalBody._element.innerHTML += `
                    <table class="table mt-4">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">Por 100gr</th>
                            <th scope="col" class="text-center">%DR (Dose Referêcia)</th>
                        </tr>
                        </thead>
                        <tbody class="overflow-auto" id="tableBody">
                           
                        </tbody>
                    </table>
                    `;
                    const tableBody = new bootstrap.Modal(document.getElementById('tableBody'));

                    for(index = 0; index < response.length; index++){
                        tableBody._element.innerHTML += `
                            <tr>
                                <td>${response[4][index]}</td>
                                <td class="text-center">
                                    ${response[5][index]}gr
                                </td>
                                <td class="text-center">
                                    ${response[6][index]}%
                                </td>
                            </tr>
                        `;
                    }
                    
                }
    
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });

    $(".favorito").click(function(e) {
        var id = $(this).attr("id");
        var $elemento = $(this)  

         $.ajax({
            url: '/preferedProduct',
            type: 'GET',
            data: {
                idProduto: id
            },
            success: function(response) {
                $elemento.innerHTML = ''
                if(!response){
                    $elemento[0].innerHTML = `
                        <i class="fa fa-2xl fa-solid fa-heart text-secondary"></i>
                        <h7>Favorito</h7> 
                    `;
                }
                else{
                    $elemento[0].innerHTML = `
                        <i class="fa fa-2xl fa-regular fa-heart text-secondary"></i>
                        <h7>Favorito</h7> 
                    `;
                }
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        })
    });
    
</script>
{% endblock scripts %}