{% extends 'indexClient.html'%}

{% block styles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock styles %}

{% block header %}
    <div class="row pt-2 my-2 align-items-center">
        <div class="col-2">    
            <a class="mx-3" id="seta"  style="cursor:pointer" href="{{url_for('StoreClientModule.seeStoreMap')}}"> 
                <div class="fa fa-2xl fa-arrow-rotate-back text-primary" ></div> 
            </a>  
        </div>
        <div class="col-8"> 
            <div class="mx-2 d-flex justify-content-center ">
                <h2 class="fw-bold text-white">Favoritos</h2>
            </div>
        </div>
    </div>
{% endblock header %}

{% block formulary %}
        <div class="container h-75 mt-4 col-11 border border-0 overflow-scroll" >
           <div class="row">
                {% for prefered in prefereds %}
                    <div class="container col-md-6 offset-md-0 pt-2 p-1">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-2 mt-4">
                                    <div class="card-img text-center">
                                        <img src={{prefered[1].photoPath}} class="img-fluid" style="height: 60px;">
                                    </div>
                                </div>
                                <div class="col-10">
                                    <h3 class="card-title">{{prefered[1].nome}}</h3> 
                                    <div class="row g-0">
                                        <div class="col-4">
                                            <h4>{{prefered[1].preço}}€/{{prefered[2].unMedida}}</h4>
                                        </div> 
                                        <div class="col-2">
                                            <div class="text-center mt-md-2 localizar" id="{{prefered[1].id}}" style="cursor:pointer">
                                                <i class="fa fa-3x fa-location-dot text-secondary"></i>
                                                <h6>Local</h6>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="text-center mt-3 mt-sm-3 mt-md-4 detalhes" id="{{prefered[1].id}}" style="cursor:pointer">
                                                <i class="fa fa-2x fa-circle-info text-secondary"></i>
                                                <h6>Detalhes</h6>
                                            </div>
                                        </div>
                                        <div class="col-3 pt-2">
                                            <div class="text-center mt-3 mt-sm-3 mt-md-4 remover" id="{{prefered[0].id}}" style="cursor:pointer">
                                                <i class="fa fa-trash text-secondary"></i>
                                                <h6>Remover</h6>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="modal modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title text-center" id="detailsModalTitle"></h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body m-3" id="modalBody"> 
                    </div>
                </div>
            </div>
        </div>
{% endblock formulary %}


{% block scripts %}
<script type=text/javascript>
    
    var productID = document.getElementById("productID");
    var seeDetails = document.getElementById("seeDetails");

    $(".detalhes").click(function(e) {
        e.preventDefault();
        var id = $(this).attr("id");
    
        $.ajax({
            url: '/fetchProduct',
            type: 'GET',
            data: {
                idProduto: id
            },
            success: function(response) {
                
                const myModal = new bootstrap.Modal(document.getElementById('detailsModal'));
                const myModalTitle = new bootstrap.Modal(document.getElementById('detailsModalTitle'));
                const myModalBody = new bootstrap.Modal(document.getElementById('modalBody'));

                myModalTitle._element.innerText = response[0][0];

                myModal.toggle();
                myModal.show();
                
                priceBase = parseFloat(response[0][1]) / (1 + (response[3]/100))
                priceBaseRounded = Math.round(priceBase * 100) / 100
                myModalBody._element.innerHTML = `
                    <div>
                        <h5>Origem: ${response[2]}<\h5>
                        <h5>Iva do produto: ${response[3]}%<\h5>
                        <h5>Preço sem Iva: ${priceBaseRounded}€/${response[1]}<\h5>
                        <h5>Preço com Iva: ${response[0][1]}€/${response[1]}<\h5>
                    <\div>
                `;
                
                if(response.length > 4){
                    myModalBody._element.innerHTML += `
                    <table class="table mt-4">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col" class="text-center">Por 100gr</th>
                            <th scope="col" class="text-center">%DR (Dose Referêcia)</th>
                        </tr>
                        </thead>
                        <tbody class="overflow-auto" id="tableBody">
                           
                        </tbody>
                    </table>
                    `;
                    const tableBody = new bootstrap.Modal(document.getElementById('tableBody'));

                    for(index = 0; index < response.length; index++){
                        tableBody._element.innerHTML += `
                            <tr>
                                <td>${response[4][index]}</td>
                                <td class="text-center">
                                    ${response[5][index]}gr
                                </td>
                                <td class="text-center">
                                    ${response[6][index]}%
                                </td>
                            </tr>
                        `;
                    }
                    
                }
    
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });

    
    $(".remover").click(function(e) {
        e.preventDefault();
        var id = $(this).attr("id");
        var elementoPai = $(this).closest('.container');

        $.ajax({
            url: '/removeFavorite',
            type: 'POST',
            data: {
                idFavorito: id
            },
            success: function(response) { 
                elementoPai.remove();
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });

    $(".localizar").click(function(e) {
        e.preventDefault();
        var id = $(this).attr("id");

        $.ajax({
            url: '/locateProduct',
            type: 'POST',
            data: {
                idProduto: id
            },
            success: function(response) {
                window.location.href = "{{url_for('StoreClientModule.seeStoreMap')}}";
            },
            error: function(xhr, status, error) {
                console.log(error);
            }
        });
    });

</script>
{% endblock scripts %}