{% extends 'indexClient.html'%}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock styles %}

{% block header %}
    <h3 class="text-center text-light py-2">Mapa da Loja</h3>  

    <div class="container gx-0 bg-light rounded-2 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <form method="POST" action="" novalidate>
            {{ formFront.csrf_token }}
            <div class="input-group input-group-lg">
                <!-- <input type="text" class="form-control col-9" placeholder="Inserir Produto" aria-label="Produto" aria-describedby="button-addon2"> -->
                {{formFront.searchProduct(class="form-control col-9", placeholder="Inserir Produto")}}
                                   
                <button class="btn btn-outline-secondary bg-light col-2" type="submit" id="but">
                    <i class="fa fa-search text-secondary"></i>
                </button>
            </div>  
        </form>
    </div>
{% endblock header %}

{% block formulary %}
    <div class="container overflow-auto mt-4 col-10 border border-1 rounded-2" style="height: 65%;">
        <canvas id="canvas" ></canvas>
    </div>

    <form hidden action="/Store" method="POST">
        <div>
            {{formFront.expoID(id="expoID")}}
        </div>
        <div>
            {{formFront.goToExpo(id="goToExpo")}}
        </div>
    </form>

    <div class="container mt-3 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3 text-center">
                <a class="btn btn-purple rounded rounded-circle rounded-5 border border-5 border-purple " style="cursor:pointer" href="{{url_for('AutenticationClientModule.doAlteration')}}"> 
                    <i class="fa fa-user my-2 mx-1" aria-hidden="true"></i>
                </a>
                <h6 class="text-white ">Perfil</h6>
            </div>
            <div class="col-3">
                <a class="btn btn-purple rounded rounded-circle rounded-5 border border-5 border-purple " style="cursor:pointer" href="{{url_for('StoreClientModule.seeFavoritesList')}}"> 
                    <i class="fa fa-list my-2 mx-1" aria-hidden="true"></i>
                    <i class="fa fa-heart  my-3 position-absolute" aria-hidden="true" style="margin-left: -10px;"></i>
                </a> 
                <h6 class="text-white ">Favoritos</h6>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
{% endblock formulary %}


{% block scripts %}
<script type="module">
    import { Expositor } from '../static/js/expositor.js';
    import { TextBlock } from '../static/js/textblock.js';
    import { Marker } from '../static/js/marker.js';
    import { Quadro } from '../static/js/verQuadro.js';
 
    var expoID = document.getElementById("expoID") 
    var goToExpo = document.getElementById("goToExpo")
    var wantedExpo = document.getElementById("wantedExpo")
    
    
    let canvas


    var id = null;

    
    fetch('/fetchMap')
        .then(response => response.json())
        .then(data => {

            console.log(data);
            var array = data;

            var canvasLimits = {}
            canvasLimits = {x:array[0].width, y:array[0].height}
            const numExpos = array[0].numExpos;
            const wantedExpo =  array[0].wantedExpo

            let index = 0
           
            canvas = new Quadro(document.getElementById("canvas"), document.getElementById("canvas").getContext("2d"), canvasLimits);

            array.shift();

            array.forEach(element => {
                if(index < numExpos){  
                    canvas.addExpositores(new Expositor(element.id, element.posX, element.posY,  element.width, element.height, element.color.toString(), 
                        element.products, element.capacity, element.divisions, element.storeSection, element.storeSectionColor.toString())); 
                    
                }
                else{
                    canvas.addTextBlock(new TextBlock(element.id, element.posX, element.posY, element.value, element.angle));
                }
                index++;
            }); 


            // utilizado para ir buscar a localização do expositor que contem o produto pretendido               
            if( wantedExpo !== 0 ){ 
                console.log(wantedExpo);
                var markerPosition = canvas.getSpecificExpoPosition(wantedExpo)
                console.log(markerPosition);
                canvas.addMarker(new Marker(markerPosition.posX, markerPosition.posY, 50, 50))}

            // falta adicionar botões para saber se cliente encontrou produto
            
            onmousedown = (event) =>{
                id = meuMetodo(id).then((expositorId) => {
                    console.log(expositorId)
                    var arrayExpos = array.slice(0, numExpos);
                    var result = arrayExpos.find(item => item.id === expositorId);

                    expoID.value = expositorId 
                    goToExpo.click()

                });
            }
            
            async function meuMetodo() {
                id = await canvas.detectAction();
                return id;
            }
        })

</script>
{% endblock scripts %}