{% extends 'indexClient.html'%}

{% block styles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock styles %}

{% block header %}
    <div class="row"> 
        <div class="col-1 mx-3 py-2 " >
            <a id="seta" style="cursor:pointer" href="{{url_for('AutenticationClientModule.logOut')}}"> 
                <div class="fa fa-2xl fa-door-open text-white"></div> 
            </a>    
            <h5 class="pt-2 text-white">Sair</h5>   
        </div>  
        
        <h3 class="text-center text-light py-2 col-9">Mapa da Loja</h3> 
    </div>
   
    <div class="container gx-0 bg-light rounded-2 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <form method="POST" action="" novalidate>
            {{ formFront.csrf_token }}
            <div class="input-group input-group-lg"> 
                {{formFront.searchProduct(class="form-control col-9", placeholder="Inserir Produto")}}
                                   
                <button class="btn btn-outline-secondary bg-light col-2" type="submit" id="but">
                    <i class="fa fa-search text-secondary"></i>
                </button>
            </div>  
        </form>
    </div>
{% endblock header %}

{% block formulary %}
    <div class="container overflow-auto mt-4 col-10 border border-1 rounded-2" style="height: 65%;">
        <canvas id="canvas" ></canvas>
    </div>

    <form hidden action="/Store" method="POST">
        <div>
            {{formFront.expoID(id="expoID")}}
        </div>
        <div>
            {{formFront.goToExpo(id="goToExpo")}}
        </div>
    </form>

    <div class="container mt-3 col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 ">
        <div hidden id="resultCheckButtons">
            <h3 class="text-center text-white">Encontrou o Produto?</h3>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-3">
                    <button class="btn btn-secondary" type="submit" id="productFound">
                        Sim
                    </button>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger" type="submit" id="productNotFound">
                        Não
                    </button>
                </div>
            </div> 
        </div> 
       
        <div class="row" id="userButtons"> 
            {% if user.id != 0 %}
                <div class="col-3"></div>
                <div class="col-3 text-center">
                    <a class="btn btn-purple rounded rounded-circle rounded-5 border border-5 border-purple " style="cursor:pointer" href="{{url_for('AutenticationClientModule.doAlteration')}}"> 
                        <i class="fa fa-user my-2 mx-1" aria-hidden="true"></i>
                    </a>
                    <h6 class="text-white ">Perfil</h6>
                </div>
                <div class="col-3">
                    <a class="btn btn-purple rounded rounded-circle rounded-5 border border-5 border-purple " style="cursor:pointer" href="{{url_for('StoreClientModule.seeFavoritesList')}}"> 
                        <i class="fa fa-list my-2 mx-1" aria-hidden="true"></i>
                        <i class="fa fa-heart  my-3 position-absolute" aria-hidden="true" style="margin-left: -10px;"></i>
                    </a> 
                    <h6 class="text-white ">Favoritos</h6>
                </div>
                <div class="col-3"></div>
            {% endif %}
        </div>
    </div>


     <!-- Modal Info -->
     <div class="modal modal-lg show" id="generalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="modalTitle"></h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body m-3" id="modalBody"> 
                </div>
            </div>
        </div>
    </div>
{% endblock formulary %}


{% block scripts %}
<script type="module">
    import { Expositor } from '../static/js/expositor.js';
    import { TextBlock } from '../static/js/textblock.js';
    import { Marker } from '../static/js/marker.js';
    import { Quadro } from '../static/js/verQuadro.js';

    // variaveis do modal
    var myModal = new bootstrap.Modal(document.getElementById('generalModal'))
    var modalBody = new bootstrap.Modal(document.getElementById('modalBody'))
    var modalTitle = new bootstrap.Modal(document.getElementById('modalTitle'))

    
    // variaveis dos botões
    var resultCheckButtons = document.getElementById("resultCheckButtons") 
    var userButtons = document.getElementById("userButtons") 

    // variaveis do mapa
    var expoID = document.getElementById("expoID") 
    var goToExpo = document.getElementById("goToExpo")
    var wantedExpo = document.getElementById("wantedExpo")
    let canvas
    var id = null;



    // carregar mapa
    fetch('/fetchMap')
        .then(response => response.json())
        .then(data => {

            console.log(data);
            var array = data;

            var canvasLimits = {}
            canvasLimits = {x:array[0].width, y:array[0].height}
            const numExpos = array[0].numExpos;
            const wantedExpo =  array[0].wantedExpo

            let index = 0
           
            canvas = new Quadro(document.getElementById("canvas"), document.getElementById("canvas").getContext("2d"), canvasLimits);

            array.shift();

            array.forEach(element => {
                if(index < numExpos){  
                    canvas.addExpositores(new Expositor(element.id, element.posX, element.posY,  element.width, element.height, element.color.toString(), 
                        element.products, element.capacity, element.divisions, element.storeSection, element.storeSectionColor.toString())); 
                    
                }
                else{
                    canvas.addTextBlock(new TextBlock(element.id, element.posX, element.posY, element.value, element.angle));
                }
                index++;
            }); 


            // utilizado para ir buscar a localização do expositor que contem o produto pretendido               
            if( wantedExpo !== 0 ){  
                var markerPosition = canvas.getSpecificExpoPosition(wantedExpo)
                console.log(markerPosition);
                canvas.addMarker(new Marker(markerPosition.posX, markerPosition.posY, 31, 40))
            
                userButtons.setAttribute('hidden', 'true'); 
                resultCheckButtons.removeAttribute('hidden');
            }
 
            onmousedown = (event) =>{
                id = meuMetodo(id).then((expositorId) => { 
                    if (id !== null){
                        console.log(id);
                        var arrayExpos = array.slice(0, numExpos);
                        var result = arrayExpos.find(item => item.id === expositorId);

                        expoID.value = expositorId 
                        goToExpo.click() 
                        
                    }
                    
                });
            }
            
            async function meuMetodo() {
                id = await canvas.detectAction();
                return id;
            }

            productFound.addEventListener('click',function(){
                modalTitle.innerHTML = '';
                modalBody._element.innerHTML = `
                        <p>Ficamos contentes que tenha encontrado.</p>
                        <p>Resto de boas compras.
                    `;

                myModal.toggle()
                myModal.show();

                
                resultCheckButtons.setAttribute('hidden', 'true'); 
                userButtons.removeAttribute('hidden');

                canvas.removeMarker();
            })
 
            productNotFound.addEventListener('click',function(){
                modalTitle.innerHTML = '';
                modalBody._element.innerHTML = `
                        <p>Ficamos tristes ao saber-lo.</p>
                        <p>Aconselhamos que peça ajuda a um funcionario.
                    `;

                myModal.toggle()
                myModal.show();

                
                resultCheckButtons.setAttribute('hidden', 'true'); 
                userButtons.removeAttribute('hidden');
                
                canvas.removeMarker();
            })
        })

        
    // guardar no localstorage se o cliente já viu o modal, para que este não estja sempre a aparecer
    var getModalStorageValue = localStorage.getItem('modal')
    console.log(getModalStorageValue);
    
    if( getModalStorageValue === null){ 
        modalTitle.innerHTML = "Instruções";
        modalBody._element.innerHTML = `
                <p>Nesta tela tem o mapa, o qual pode ser arrastado, com o dedo no telemovel, ou com o rato no computador </p>
                <br>
                <p>Selecionando um expositor no mapa, verá os seus produtos</p>
            `;

        myModal.toggle()
        myModal.show();
        localStorage.setItem('modal', 'read');
    }  
</script>
{% endblock scripts %}