{% extends 'indexAute.html'%}
{% block formulary %}
    {{formFront.hidden_tag()}}
    <div class="text-center pt-4">
        <h2 class="">Registar Novo Funcionário</h2>
    </div>
    
    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-2 col-10">
            <div class="from-group">
                {{formFront.username_funcionario.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupNameNumb">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-user text-white"></i>
                    </span>
                    {% if formFront.username_funcionario.errors %}
                        {{formFront.username_funcionario(class="form-control is-invalid", id="studentNumber", placeholder="ex: p35465575")}}
                        {% else %}
                        {{formFront.username_funcionario(class="form-control", id="studentNumber",  placeholder="ex: p35465575")}}
                    {% endif %}
                </div>
                {% if formFront.username_funcionario.errors %}
                {% for error in formFront.username_funcionario.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset> 
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-2 col-10">
            <div class="from-group">
                {{formFront.password_funcionario.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupPass">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-key text-white"></i>
                    </span>
                    {% if formFront.password_funcionario.errors %}
                        {{formFront.password_funcionario(class="form-control is-invalid", id="userPassword", placeholder="ex: effwegg45y5@")}}
                        {% else %}
                        {{formFront.password_funcionario(class="form-control", id="userPassword",  placeholder="ex: effwegg45y5@")}}
                    {% endif %}
                </div>
                {% if formFront.password_funcionario.errors %}
                {% for error in formFront.password_funcionario.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset> 
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-2 col-10">
            <div class="from-group">
                {{formFront.confirm_password.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupPassConf">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-key text-white"></i>
                    </span>
                    {% if formFront.confirm_password.errors %}
                        {{formFront.confirm_password(class="form-control is-invalid", id="userPasswordConfirm", placeholder="ex: effwegg45y5@")}}
                        {% else %}
                        {{formFront.confirm_password(class="form-control", id="userPasswordConfirm",  placeholder="ex: effwegg45y5@")}}
                    {% endif %}
                </div>
                {% if formFront.confirm_password.errors %}
                {% for error in formFront.confirm_password.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-2 col-5">
            <div class="from-group">
                {{formFront.store.label(class="form-control-label")}}
                <div class="input-group my-1 py-2">
                    <span class="input-group-text bg-primary" id="groupStore">                    
                        <i class="fa fa-store text-white"></i>
                    </span>
                    {% if formFront.store.errors %}
                        {{formFront.store(class="form-select is-invalid", id="selectloja", onchange="changedSelect()")}}
                        {% else %}
                        {{formFront.store(class="form-select", id="selectloja", onchange="changedSelect()")}}
                    {% endif %}   
                </div>
                {% if formFront.store.errors %}
                    {% for error in formFront.store.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                {% endif %}
             </div> 
             <a href="{{url_for('AutenticationModule.doLogin')}}">
                <h6><dt>Já tem Conta?</dt></h6>
            </a>
        </fieldset>

        <fieldset class="py-2 col-5">
            <div class="from-group">
                {{formFront.department.label(class="form-control-label")}}
                <div class="input-group my-1 py-2">
                    <span class="input-group-text bg-primary" id="groupStore">                    
                        <i class="fa fa-boxes-stacked text-white"></i>
                    </span>
                    {% if formFront.department.errors %}
                        {{formFront.department(class="form-select is-invalid", id="selectdepartment", onchange="changedSelect()")}}
                        {% else %}
                        {{formFront.department(class="form-select", id="selectdepartment", onchange="changedSelect()")}}
                    {% endif %}   
                </div>
                {% if formFront.department.errors %}
                    {% for error in formFront.department.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    {% else %}
                {% endif %}
             </div>
            
        </fieldset >
        <div class="col-1"></div>
    </div>

    <div class="row pb-4 pt-2">
        <div class="col-3"></div>
        {{formFront.Register(class="btn btn-secondary my-2 col-6", id="RegisterBtn")}}
        <div class="col-1"></div>
    </div>
</div>  
        
{% endblock formulary %}

{% block scripts %}
    <script  type=text/javascript>
        var store = document.getElementById("selectloja");
        var department = document.getElementById("selectdepartment");

        $( document ).ready(
            store[0].setAttribute("disabled","selected"),
            department[0].setAttribute("disabled","selected")
        );
    </script> 
{% endblock scripts %}

