{% extends 'indexBackOffice.html'%}

    {% block pageTitle %}
        <h2 class="position-absolute fw-bold text-white start-50">Editar Produto</h2>
    {% endblock pageTitle %}
        
    {% block profile %}
        <h4 class="mt-4 text-white" >{{active_user[0]}}</h4>
        <h6 class="text-white">{{active_user[1]}}</h6>
        <h6 class="text-white">{{active_user[2]}}</h6>
    {% endblock profile %}

    {% block navOptions %}

        <li class="sidebar-item pt-2 pb-0 px-0 ">
            <a class="sidebar-link bg-secondary px-2" href="{{url_for('MapsModule.seeMapList')}}>
                <div class="row">
                    <div class="col-2 pe-0">
                        <i class="fa fa-list my-2 " aria-hidden="true"></i>
                        <i class="fa fa-store my-3 position-absolute" aria-hidden="true" style="margin-left: -10px;"></i>
                    </div>
                
                    <div class="col-10 g-0">
                        <h4 class="text-start text-white my-2 ms-2">Listagem Mapas</h4>
                    </div>
                </div>
            </a>
        </li>
        <li class="sidebar-item px-5">
            <a class="sidebar-link bg-secondary" href="">
                <h6 class="text-white text-opacity-50">Criar Mapa</h6>
            </a>
        </li>
        <li class="sidebar-item px-5">
            <a class="sidebar-link bg-secondary" href="">
                <!-- <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Criar Mapa</span> -->
                <h6 class="text-white text-opacity-50">Editar Mapa</h6>
            </a>
        </li>
        
        <hr class="border border-2 border-white">

        <li class="sidebar-item pt-2 pb-0 px-0 ">
            <a class="sidebar-link bg-secondary px-2" href="{{url_for('ProductsModule.seeProductList')}}">
                <div class="row">
                    <div class="col-2 pe-0">
                        <i class="fa fa-list my-2 text-center text-white" aria-hidden="true"></i>
                        <i class="fa fa-box my-3 position-absolute text-white" aria-hidden="true" style="margin-left: -10px;"></i>
                    </div>
                
                    <div class="col-10 g-0">
                        <h4 class="text-start text-white my-2 ms-2">Listagem Produtos</h4>
                    </div>
                </div>
            </a>
        </li>
        <li class="sidebar-item px-5 active">
            <a class="sidebar-link bg-secondary" href="">
                <h6 class="text-white text-opacity-100">Criar Produto</h6>
            </a>
        </li>
        <li class="sidebar-item px-5">
            <a class="sidebar-link bg-secondary" href="">
                <h6 class="text-white text-opacity-50">Editar Produto</h6>
            </a>
        </li>

        <hr class="border border-2 border-white">
        
        <li class="sidebar-item pt-2 pb-0 px-0">
            <a class="sidebar-link bg-secondary px-2" href="">
                <div class="row">
                    <div class="col-2 ps-4">
                        <i class="fa fa-chart-bar text-center text-white" aria-hidden="true"></i>
                    </div>
                
                    <div class="col-10 g-0">
                        <h4 class="text-start text-white ms-2 text-opacity-50">Consultas</h4>
                    </div>
                </div>
            </a>
        </li>
        <li class="sidebar-item px-5">
            <a class="sidebar-link disabled bg-secondary"  href="{{url_for('AnalisysModule.seeProductsTable')}}">
                <h6 class="text-white">Consulta Produtos</h6>
            </a>
        </li>
        <li class="sidebar-item px-5">
            <a class="sidebar-link bg-secondary"  href="{{url_for('AnalisysModule.seeExhibitorsTable')}}">
                <h6 class="text-white">Consulta Expositores</h6>
            </a>
        </li>
    {% endblock navOptions %}

    {% block content %}
        <div class="row mt-7 pt-5 mb-3">
            <div class="container gx-0 bg-light rounded-2 col-3 ">
                <h5>Insira o Nome do Produto</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-control" placeholder="Baguete" aria-label="" aria-describedby="">
                </div>    
            </div>
            
            <div class="container gx-0 bg-light rounded-2 col-3">
                <h5>Insira o Preço do Produto</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-control " placeholder="3.50€" aria-label="" aria-describedby="">
                </div>    
            </div>

            <div class="container gx-0 bg-light rounded-2 col-3">
                <h5>Insira Percentagem do Iva</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-select " placeholder="Iva" aria-label="" aria-describedby="">
                </div>
            </div>
        </div>

        <div class="row mb-3 mt-5">
            <div class="container gx-0 bg-light rounded-2 col-3">
                <h5>Insira a Unidade de Medida</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-select " placeholder="Unidade" aria-label="" aria-describedby="">
                </div>
            </div>

            <div class="container gx-0 bg-light rounded-2 col-3">
                <h5>Insira a Origem do Produto</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-select " placeholder="Pais" aria-label="" aria-describedby="">
                </div>
            </div>
            
            <div class="container gx-0 bg-light rounded-2 col-3">
                <h5>Insira a Secção do Produto</h5>
                <div class="input-group input-group-lg ">
                    <input type="text" class="form-select " placeholder="Secção" aria-label="" aria-describedby="">
                </div>
            </div>
        </div>

        <div class="row mt-5 pt-5">
            <div class="col-1"></div>
            <div class="col-6">
                <div class="container " style="height: 300px;">
                    <h5>Tabela Nutricional </h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Por 100gr</th>
                                <th scope="col">%DR</th>
                            </tr>
                        </thead>
                        <tbody class="overflow-auto" >
                            <tr>
                                <td>Energia[kcal]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Energia[kj]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Lipigos[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Hidratos carbono[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Açúcares[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Fibra[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Proteínas[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Sal[gr]</td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="">
                                        </div>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <h5 class="mb-4">Insira uma Fotografia do Produto</h5>
                <canvas class="container mt-3 border border-2" id="imageCanvas" style="height: 250px; width: 250px;">
                </canvas>

                <input type="file" accept="image/*" name="image" id="imageFile" style="display: none;" onchange="loadFile(event)" > 
                
                <button type="submit" class="btn btn-grey  border border-5 border-purple position-sticky" id="imgBtn" onclick="chooseImg()">
                    <i class="fa fa-camera my-2 mx-1" aria-hidden="true"></i>
                </button>
            </div>
        </div>
                    
        <div class="row mt-7 pt-7 mb-2">
            <div class="col-8"></div>
            <div class="col-2">
                <form action=""class="text-center">
                    <button class="btn btn-lg btn-info" type="submit" value="">Alterar Produto</button>
                </form>
            </div>
            <div class="col-2">
                <form action="">
                    <button class="btn btn-lg btn-danger" type="submit" value="">Descartar Alteração</button>
                </form>
            </div>
        </div>
    {% endblock content %}

    {% block scripts %}
        <script>
            // https://www.youtube.com/watch?v=T7huigh9BNQ
            // https://codepen.io/dcode-software/pen/porebKK?editors=1010

            const ImgBtnInput = document.getElementById("imgBtn");
            const fileInput = document.getElementById("imageFile");
            const canvas = document.getElementById("imageCanvas");
            const context = canvas.getContext("2d");

            let activeImage, originalWidthToHeightRatio;

            function chooseImg() {
                fileInput.click();
            }

            var loadFile =  function(event) {
                const reader = new FileReader();

                reader.addEventListener("load", () => {
                    openImage(reader.result);
                });

                reader.readAsDataURL(event.target.files[0]);
            }

            function openImage(imageSrc) {
                activeImage = new Image();

                activeImage.addEventListener("load", () => {
                    originalWidthToHeightRatio = activeImage.width / activeImage.height;
                    resize(250,250);
                });

                activeImage.src = imageSrc;
            }

            function resize(width, height) {
                canvas.width = Math.floor(width);
                canvas.height = Math.floor(height);

                context.drawImage(activeImage, 0, 0, Math.floor(width), Math.floor(height));
            }

        </script>
    {% endblock scripts %}