{% extends 'indexAute.html'%}
{% block formulary %}
    {{formFront.hidden_tag()}} 
    <div class="text-center pt-4">
        <h2 class="">Iniciar Sessão</h2>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-4 col-10">
            <div class="from-group">
                {{formFront.username_funcionario.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupNameNumb">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-user text-white"></i>
                    </span>
                    {% if formFront.username_funcionario.errors %}
                        {{formFront.username_funcionario(class="form-control is-invalid", id="studentNumber", placeholder="ex: p35465575")}}
                        {% else %}
                        {{formFront.username_funcionario(class="form-control", id="studentNumber",  placeholder="ex: p35465575")}}
                    {% endif %}
                </div>
                {% if formFront.username_funcionario.errors %}
                {% for error in formFront.username_funcionario.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
        </fieldset>
        <div class="col-1"></div>
    </div>


    <div class="row">
        <div class="col-1"></div>
        <fieldset class="py-4 col-10">
            <div class="from-group">
                {{formFront.password_funcionario.label(class="form-control-label")}}
                <div class="input-group my-1 py-2" id="groupPass">
                    <span class="input-group-text bg-primary" id="basic-addon1">                    
                        <i class="fa fa-key text-white"></i>
                    </span>
                    {% if formFront.password_funcionario.errors %}
                        {{formFront.password_funcionario(class="form-control is-invalid", type="password", id="userPassword", placeholder="ex: Bobin@D3Te5L@")}}
                        {% else %}
                        {{formFront.password_funcionario(class="form-control", type="password", id="userPassword",  placeholder="ex: Bobin@D3Te5L@")}}
                    {% endif %}
                </div>
                {% if formFront.password_funcionario.errors %}
                {% for error in formFront.password_funcionario.errors %}
                    <span>{{error}}</span>
                {% endfor %}
                {% else %}
                {% endif %}
            </div>
            <a href="{{url_for('AutenticationModule.doRegister')}}">
                <h6><dt>Criar Conta</dt></h6>
            </a>
        </fieldset>
        <div class="col-1"></div>
    </div>

  
    <div class="row pb-4">
            <div class="col-3"></div>
            {{formFront.login(class="btn btn-secondary my-2 col-6", id="LogBtn")}}
            <div class="col-1"></div>
        </div>
    </div>
{% endblock formulary %}
  
